ERABI_HOST=127.0.0.1
ERABI_PORT=7878
ERABI_DATA_DIR=./data
ERABI_ACCESS_TOKEN=
ERABI_CORS_ALLOWED_ORIGINS=
ERABI_OPENAPI_ENABLED=true
ERABI_TELEMETRY_ENABLED=false
CRAWL4AI_BASE_URL=http://crawl4ai:11235
CRAWL4AI_API_TOKEN=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
